In [8]:
import pandas as pd
import numpy as np
# library to clean data
import re
# Natural Language Tool Kit
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
# to remove stopword
from nltk.corpus import stopwords
# for Stemming propose
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\I353174\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\I353174\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
df = pd.read_csv('salesleads.csv') 
df.head()

,email,name,title,label,content
0,Info@1015multimedia.com,Rishikumar Thakur,NaN,warm,"Hello, I have had software in my warehouse fo..."
1,info@142productions.com,Raza ji,NaN,warm,I have all sales firstclass versions from 2006...
2,info@223agency.com,Vaibhav Patel,NaN,hot,"Hello, I have 3 questions about ""Sales firstcl..."
3,scott@32digital.com,Amazon Customer,NaN,warm,"On my specification sheet, the text modules ar..."
4,cservice@4hatteras.com,Sudhakaran Wadakkancheri,NaN,cold,"Since your update, strange bubbles have appear..."

In [5]:
def process_docs(docs, rows) :
    corpus = []
    for i in range(0, rows):
        # column : "content", row ith
        content = re.sub('[^a-zA-Z]', ' ', docs[i])
    
        # convert all cases to lower cases
        content = content.lower()
     
        # split to array(default delimiter is " ")
        content = content.split()
    
        # ps = PorterStemmer()
        lem = WordNetLemmatizer()
    
        content = [lem.lemmatize(word) for word in content
                if not word in set(stopwords.words('english'))]
        
        content = ' '.join(content) 
        corpus.append(content)
        
    return corpus

In [6]:
corpus = process_docs(df['content'], df.shape[0])
df['clean_text'] = corpus
df.head()

,email,name,title,label,content,clean_text
0,Info@1015multimedia.com,Rishikumar Thakur,NaN,warm,"Hello, I have had software in my warehouse fo...",hello software warehouse day export file optio...
1,info@142productions.com,Raza ji,NaN,warm,I have all sales firstclass versions from 2006...,sale firstclass version today saturday got ver...
2,info@223agency.com,Vaibhav Patel,NaN,hot,"Hello, I have 3 questions about ""Sales firstcl...",hello question sale firstclass wh neo overview...
3,scott@32digital.com,Amazon Customer,NaN,warm,"On my specification sheet, the text modules ar...",specification sheet text module displayed spee...
4,cservice@4hatteras.com,Sudhakaran Wadakkancheri,NaN,cold,"Since your update, strange bubbles have appear...",since update strange bubble appeared sheet cle...

In [28]:
c = TextBlob('happy')

In [29]:
ct = TextBlob(df['clean_text'][1])

In [30]:
c.sentiment

Sentiment(polarity=0.8, subjectivity=1.0)

In [34]:
ls = ["happy", "sad"]

for i in ls :
    c = TextBlob(i)
    if c.sentiment[0] < 0:
        print("cold lead")
        
    if c.sentiment[0] > 0:
        print("hot lead")    
    
    if c.sentiment[0] == 0:
        print("warm lead")

hot lead
cold lead